@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-commander-primary: #0f172a;
    --color-commander-secondary: #64748b;
    --color-commander-bg: #f8fafc;
    --color-commander-success: #10b981;
    --color-commander-warning: #f59e0b;
    --color-commander-error: #ef4444;
}
